@import '~bootstrap/scss/bootstrap';
@import './museum.scss';

@import 'resources/scss/artist';

body{
    background-color: black;
}

header{
    height:80px;
}


aside{
    width: 200px;
    height:calc(100vh - 55px);
    position:fixed;
    left:0;
    bottom:0;
    nav{
        height:100%;
    }
}
